.login {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login__form {
  display: flex;
  flex-direction: column;
  width: 227px;
}
.login__item {
  margin-bottom: 20px!important;
}
.login__button {
  color: #fff;
  border-color: #3fb5e8;
  border-radius: 50px;
  background: #3fb5e8;
}
.login__options {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-end;
  font-size: 14px;
}
.login__link {
  cursor: pointer;
  &:hover {
    color: #3fb5e8;
  }
}