.sideMenu {
  width: 220px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
}
.buttongroup {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e8e8e8;
  font-size: 15px;
  font-weight: 700;
  .buttongroup__button {
    //border-right: 1px solid #e8e8e8;
    flex: 1;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: #46b6e9;
      color: #fff;
    }
  }
}
.menu-activate {
  background: #46b6e9;
  color: #fff;
}
.sideMenu__select {
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.filter__collpase {

}
.filter__item {
  padding-left: 10px;
  padding-right: 10px;
  .el-collapse-item__header {
    height: 35px;
    line-height: 35px;
  }
  .el-collapse-item__arrow {
    line-height: 35px;
  }
  .el-collapse-item__content {
    padding-bottom: 10px;
  }
  & .checkboxgroup {
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    .checkbox {
      margin-left: 0!important;
      .el-checkbox__label {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        .checkbox__text {
          max-width: 150px;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
.recentSearch__container {
  display: flex;
  flex-direction: column;
}
.recentSearch__item {
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #e6ebf5;
  cursor: pointer;
  &:hover {
    background: #e6ebf5;
  }
}
.navToolbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  &-backLevel {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .pagination {
    padding: 0;
  }
}
.navToolbox__item {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.navContent {
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  padding-top: 0;
  max-height: 500px;
  overflow: scroll;
  .navContent__item {
    padding: 5px 0;
    display: flex;
    align-items: center;
    &-span {
      cursor: pointer;
      &:hover {
        color: #46b6e9;
        text-decoration: underline;
      }
    }
    &-description {
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-number {
      color: red;
    }
  }
}